package components

templ InitializeForm() {
    <html>
        <body>
            <form action='/initialize' method='post'>
                <input type='text' name='path' placeholder='Workspace Path' required/>
                <button type='submit'>Initialize</button>
            </form>
        </body>
    </html>
}
